<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>

  
  <div class="form-group">
	  <div class="form-inputs">
		<%= f.input :question, autofocus: true, class: "form-control", maxlength:90 %>
		<%= f.input :answer, label: 'Catégorie', as: :select, prompt: "Choisir une catégorie" %>
		<%-# f.select :answer, reponse1:"test"		%>
		<%-# f.association :answer, label: 'Reponse', prompt: "Reponse 1", value_method: :id%>
		
		
		
		
		<%-# f.input :question,     as: :radio_buttons %>
		<%-# f.input :password %>
		<%-# f.input :question, label: 'TEST' %>
	  </div>
  </div>
  
  <div class="form-group">
	  <div class="form-actions">
		<%= f.button :submit, class: "btn btn-primary"  %>
	  </div>
  </div>
  
<% end %>


